{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "plugins": [
        "@typescript-eslint/eslint-plugin"
    ],
    "rules": {
        "no-tabs": ["error", { "allowIndentationTabs": true }],
        "no-extra-semi": "off",
        "prefer-arrow-callback": "error",
        "arrow-body-style": ["error", "always"],
        "func-style": ["error", "expression"],
        "@typescript-eslint/no-extra-semi": "off",
        "@typescript-eslint/no-unused-vars": ["error"],
        "@typescript-eslint/no-explicit-any": ["error"],
        "@typescript-eslint/no-inferrable-types": "off",
        "@typescript-eslint/explicit-function-return-type": ["error"],
        "@typescript-eslint/indent": ["error", "tab"],
        "@typescript-eslint/semi": [2, "always"],
        "@typescript-eslint/quotes": [2, "double", { "avoidEscape": true }],
        "@typescript-eslint/space-before-function-paren": ["error", {
            "anonymous": "always",
            "named": "never",
            "asyncArrow": "always"
        }],
        "@typescript-eslint/consistent-type-assertions": ["error", {
            "assertionStyle": "as",
            "objectLiteralTypeAssertions": "never"
        }]
    }
}
