{
    "extends": "standard",
    "env": {
        "browser": true
    },
    "rules": {
        "semi": [2, "always"],
        "quotes": [2, "double", { "avoidEscape": true }],
        "no-trailing-spaces": ["error", { "skipBlankLines": true }]
    }  
}
