{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "extends": [
        "eslint:recommended",
        "standard"
    ],
    "env": {
        "browser": true
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "rules": {
        "no-tabs": ["error", { "allowIndentationTabs": true }],
        "indent": ["error", "tab"],
        "semi": [2, "always"],
        "quotes": [2, "double", { "avoidEscape": true }],
        "space-before-function-paren": ["error", {
            "anonymous": "always",
            "named": "never",
            "asyncArrow": "always"
        }]
    }  
}
