{% extends "base.html" %}

{% set title = "A Starter Kit" %}

{% set author = "Jonathon Toon" %}
{% set description = "A simple static site / PWA boilerplate using Nunjunks for HTML templating, esbuild for JS transpilation and CSS variables." %}
{% set keywords = "web, css, html, javascript" %}

{% set prefetch_url = "://github.com" %}
{% set website_url = "https://www.github.com" %}

{% set og_title = "A Starter Kit" %}
{% set og_description = "A simple static site / PWA boilerplate using Nunjunks for HTML templating, esbuild for JS transpilation and CSS variables." %}
{% set og_image = "images/og-image.png" %}

{% set twitter_card_summary = "A simple static site / PWA boilerplate using Nunjunks for HTML templating, esbuild for JS transpilation and CSS variables." %}
{% set twitter_site = "@github" %}
{% set twitter_individual_account = "@github" %}
{% set twitter_website_url = "https://www.github.com" %}
{% set twitter_title = "A Starter Kit" %}
{% set twitter_description = "A simple static site / PWA boilerplate using Nunjunks for HTML templating, esbuild for JS transpilation and CSS variables." %}
{% set twitter_image = "images/og-twitter.png" %}

{% block content %}
    Main content goes here.
{% endblock %} 
