:root {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    /* Colors */
    --transparent: transparent;
    --black: #000;
    --white: #fff;
    --gray-100: #F4F4F4;
    --gray-200: #EEEEEE;
    --gray-300: #CCCCCC;
    --gray-400: #AAAAAA;
    --gray-500: #999999;
    --gray-600: #777777;
    --gray-700: #555555;
    --gray-800: #333333;
    --gray-900: #111111;
    --red-100: #fff5f5;
    --red-200: #fed7d7;
    --red-300: #feb2b2;
    --red-400: #fc8181;
    --red-500: #f56565;
    --red-600: #e53e3e;
    --red-700: #c53030;
    --red-800: #9b2c2c;
    --red-900: #742a2a;
    --orange-100: #fffaf0;
    --orange-200: #feebc8;
    --orange-300: #fbd38d;
    --orange-400: #f6ad55;
    --orange-500: #ed8936;
    --orange-600: #dd6b20;
    --orange-700: #c05621;
    --orange-800: #9c4221;
    --orange-900: #7b341e;
    --yellow-100: #fffff0;
    --yellow-200: #fefcbf;
    --yellow-300: #faf089;
    --yellow-400: #f6e05e;
    --yellow-500: #ecc94b;
    --yellow-600: #d69e2e;
    --yellow-700: #b7791f;
    --yellow-800: #975a16;
    --yellow-900: #744210;
    --green-100: #f0fff4;
    --green-200: #c6f6d5;
    --green-300: #9ae6b4;
    --green-400: #68d391;
    --green-500: #48bb78;
    --green-600: #38a169;
    --green-700: #2f855a;
    --green-800: #276749;
    --green-900: #22543d;
    --teal-100: #e6fffa;
    --teal-200: #b2f5ea;
    --teal-300: #81e6d9;
    --teal-400: #4fd1c5;
    --teal-500: #38b2ac;
    --teal-600: #319795;
    --teal-700: #2c7a7b;
    --teal-800: #285e61;
    --teal-900: #234e52;
    --blue-100: #ebf8ff;
    --blue-200: #bee3f8;
    --blue-300: #90cdf4;
    --blue-400: #63b3ed;
    --blue-500: #4299e1;
    --blue-600: #3182ce;
    --blue-700: #2b6cb0;
    --blue-800: #2c5282;
    --blue-900: #2a4365;
    --indigo-100: #ebf4ff;
    --indigo-200: #c3dafe;
    --indigo-300: #a3bffa;
    --indigo-400: #7f9cf5;
    --indigo-500: #667eea;
    --indigo-600: #5a67d8;
    --indigo-700: #4c51bf;
    --indigo-800: #434190;
    --indigo-900: #3c366b;
    --purple-100: #faf5ff;
    --purple-200: #e9d8fd;
    --purple-300: #d6bcfa;
    --purple-400: #b794f4;
    --purple-500: #9f7aea;
    --purple-600: #805ad5;
    --purple-700: #6b46c1;
    --purple-800: #553c9a;
    --purple-900: #44337a;
    --pink-100: #fff5f7;
    --pink-200: #fed7e2;
    --pink-300: #fbb6ce;
    --pink-400: #f687b3;
    --pink-500: #ed64a6;
    --pink-600: #d53f8c;
    --pink-700: #b83280;
    --pink-800: #97266d;
    --pink-900: #702459;
    
    /* Breakpoints */
    --breakpoint-sm: 42rem;
    --breakpoint-md: 48rem;
    --breakpoint-lg: 64rem;
    --breakpoint-xl: 72rem;
    --breakpoint-xxl: 80rem;

    /* Min Width */
    --min-width-none: none;
    --min-width-xs: 20rem;
    --min-width-sm: 24rem;
    --min-width-md: 28rem;
    --min-width-lg: 32rem;
    --min-width-xl: 36rem;
    --min-width-2xl: 42rem;
    --min-width-3xl: 48rem;
    --min-width-4xl: 56rem;
    --min-width-5xl: 64rem;
    --min-width-6xl: 72rem;
    --min-width-full: 100%;

    /* Max Width */
    --max-width-none: none;
    --max-width-xs: 20rem;
    --max-width-sm: 24rem;
    --max-width-md: 28rem;
    --max-width-lg: 32rem;
    --max-width-xl: 36rem;
    --max-width-2xl: 42rem;
    --max-width-3xl: 48rem;
    --max-width-4xl: 56rem;
    --max-width-5xl: 64rem;
    --max-width-6xl: 72rem;
    --max-width-full: 100%;

    /* Spacing */
    --spacing-0: 0;
    --spacing-1: 0.25rem;
    --spacing-2: 0.5rem;
    --spacing-3: 0.75rem;
    --spacing-4: 1rem;
    --spacing-5: 1.25rem;
    --spacing-6: 1.5rem;
    --spacing-8: 2rem;
    --spacing-10: 2.5rem;
    --spacing-12: 3rem;
    --spacing-16: 4rem;
    --spacing-20: 5rem;
    --spacing-24: 6rem;
    --spacing-32: 8rem;
    --spacing-40: 10rem;
    --spacing-48: 12rem;
    --spacing-56: 14rem;
    --spacing-64: 16rem;

    /* Typography */
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.5rem;
    --font-size-3xl: 1.875rem;
    --font-size-4xl: 2.25rem;
    --font-size-5xl: 3rem;
    --font-size-6xl: 4rem;

    /* Font Weight */
    --font-weight-hairline: 100;
    --font-weight-thin: 200;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-heavy: 900;

    /* Letter Spacing */
    --letter-spacing-tighter: -0.05em;
    --letter-spacing-tight: -0.025em;
    --letter-spacing-normal: 0;
    --letter-spacing-wide: 0.025em;
    --letter-spacing-wider: 0.05em;
    --letter-spacing-widest: 0.1em;

    /* Line Height */
    --line-height-3: .75rem;
    --line-height-4: 1rem;
    --line-height-5: 1.25rem;
    --line-height-6: 1.5rem;
    --line-height-7: 1.75rem;
    --line-height-8: 2rem;
    --line-height-9: 2.25rem;
    --line-height-10: 2.5rem;
    --line-height-none: 1;
    --line-height-tight: 1.25;
    --line-height-snug: 1.375;
    --line-height-normal: 1.5;
    --line-height-relaxed: 1.625;
    --line-height-loose: 2;

    /* Border Radius */
    --rounded-none: 0;
    --rounded-sm: 0.125rem;
    --rounded: 0.25rem;
    --rounded-md: 0.375rem;
    --rounded-lg: 0.5rem;
    --rounded-xl: 0.75rem;
    --rounded-2xl: 1rem;
    --rounded-3xl: 1.5rem;
    --rounded-full: 9999px;
}