<!-- base.html -->
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ title }}</title>
		<meta name="author" content="{{ author }}">
		<meta name="description" content="{{ description }}">
        	<meta name="keywords" content="{{ keywords }}">
		<meta name="color-scheme" content="dark light">

		<!-- Android Config  -->
		<meta name="theme-color" content="#000000">
		<meta name="mobile-web-app-capable" content="yes">

		<!-- Mobile Safari Config -->
		<meta name="apple-mobile-web-app-title" content="{{ title }}">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<!-- Windows Config  -->
		<meta name="application-name" content="{{ title }}">
		<meta name="msapplication-tooltip" content="{{ description }}">
		<meta name="msapplication-starturl" content="/">
		<meta name="msapplication-navbutton-color" content="#000000">
		<meta name="msapplication-TileColor" content="#000000">
		<meta name="msapplication-config" content="browserconfig.xml">
		<meta name="msapplication-TileImage" content="images/favicon-144.png">
		<meta name="msapplication-tap-highlight" content="no">

		<!-- UC Mobile Browser -->
		<meta name="full-screen" content="yes">
		<meta name="browsermode" content="application">

		<!-- Facebook Open Graph -->
		<meta property="og:title" content="{{ og_title }}">
		<meta property="og:description" content="{{ og_description }}">
		<meta property="og:image" content="{{ og_image }}">

		<!-- Twitter Cards -->
		<meta name="twitter:card" content="{{ twitter_card_summary }}">
		<meta name="twitter:site" content="{{ twitter_site }}">
		<meta name="twitter:creator" content="{{ twitter_individual_account }}">
		<meta name="twitter:url" content="{{ twitter_website_url }}">
		<meta name="twitter:title" content="{{ twitter_title }}">
		<meta name="twitter:description" content="{{ twitter_description }}">
		<meta name="twitter:image" content="{{ twitter_image }}">

		<!-- Icon Images -->
		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
		<link rel="mask-icon" size="any" color="#000000" href="images/favicon.svg">
		<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16.png">
		<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32.png">
		<link rel="icon" type="image/png" sizes="48x48" href="images/favicon-48.png">
		<link rel="icon" type="image/png" sizes="57x57" href="images/favicon-57.png">
		<link rel="icon" type="image/png" sizes="76x76" href="images/favicon-76.png">
		<link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96.png">
		<link rel="icon" type="image/png" sizes="128x128" href="images/favicon-128.png">
		<link rel="icon" type="image/png" sizes="192x192" href="images/favicon-192.png">
		<link rel="icon" type="image/png" sizes="228x228" href="images/favicon-228.png">
		<link rel="apple-touch-icon" sizes="120x120" href="images/favicon-120.png">
		<link rel="apple-touch-icon" sizes="152x152" href="images/favicon-152.png">
		<link rel="apple-touch-icon" sizes="167x167" href="images/favicon-167.png">
		<link rel="apple-touch-icon" sizes="180x180" href="images/favicon-180.png">

		<!-- Web Manifest  -->
		<link rel="manifest" href="starter-kit.webmanifest">

		<!-- Misc -->	
		<link rel="sitemap" type="application/xml" title="sitemap" href="sitemap.xml">

		<!-- CSS -->
		<link type="text/css" rel="stylesheet" media="all" href="bundle.min.css" inline>
	</head>
	<body class="bg-black sans-serif">
		{% include "noscript.html" %}
		{% block content %}{% endblock %}
		<!-- Javascript -->
		<script type="text/javascript" src="bundle.min.js" inline></script>

		{% if isDevelopment %}
			<script type="text/javascript">
				if ("serviceWorker" in navigator) {
					navigator.serviceWorker.register("service-worker.js", { scope: "/" }).then(function (serviceWorker) {
						console.log("Service Worker registered.");
						console.log(serviceWorker);
					}).catch(function (error) {
						console.log("Error registering the Service Worker.");
						console.log(error);
					});
				}
			</script>
		{% else %}
			<script type="text/javascript">
				if ("serviceWorker" in navigator) {
					navigator.serviceWorker.register("service-worker.js", { scope: "/" });
				}
			</script>
		{% endif %}
  	</body>
</html>
